.wrapper {
  background-color: #006994;
  min-height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
  color: white;
}

.wrapper::before {
  content: "";
  background-image: url("../../images/gdansk-7505686.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.35;
}

.wrapper h1 {
  position: relative;
  font-weight: 200;
  letter-spacing: 4px;
  font-size: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.wrapper h1 svg {
  position: relative;
  margin-right: 10px;
}

.wrapper h2 {
  position: relative;
  margin-top: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 45px;
}

.about {
  padding-top: 5px;
  min-width: 60%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.about p {
  position: relative;
  padding: 40px;
  text-align: center;
}

.formWrapper {
  min-width: 40%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.formWrapper form {
  font-weight: 100;
  min-width: 90%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.formWrapper form input {
  position: relative;
  color: white;
  background-color: transparent;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid white;
  box-sizing: border-box;
  padding: 6px;
  margin-top: 25px;
}

.formWrapper form input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid white;
}

.formWrapper form input::placeholder {
  color: white;
}

.formWrapper form input:-ms-input-placeholder {
  color: white;
}

.formWrapper form button {
  position: relative;
  background-color: #006994;
  color: white;
  border: none;
  box-sizing: border-box;
  padding: 6px;
  margin-top: 25px;
  font-size: 20px;
  background-color: rgb(79, 169, 118);
}

.formWrapper form button:hover {
  cursor: pointer;
}

form p {
  background: tomato;
  text-align: center;
  margin-top: 10px;
  position: relative;
}
