.wrapper {
  background-color: #394653;
  min-height: 95vh;
  display: flex;
  padding: 0;
  margin: 0;
  color: white;
}

.wrapper::before {
  content: "";
  background-image: url("../../images/gdansk-7505686.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}

.wrapper h1 {
  position: relative;
  font-weight: 500;
  letter-spacing: 4px;
  font-size: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.wrapper h1 svg {
  position: relative;
  margin-right: 10px;
}

.wrapper h2 {
  position: relative;
  margin-top: 30px;
  text-align: center;
  font-weight: 300;
  font-size: 45px;
}

.about {
  padding-top: 5px;
  min-width: 60%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.about p {
  font-weight: 300;
  font-size: 18px;
  position: relative;
  padding: 40px;
  text-align: center;
}

.formWrapper {
  min-width: 40%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.formWrapper h1 {
  font-weight: 300;
}

.formWrapper form {
  font-weight: 100;
  min-width: 90%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.formWrapper form input {
  position: relative;
  color: white;
  background-color: transparent;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid white;
  box-sizing: border-box;
  padding: 6px;
  margin-top: 25px;
  font-weight: 300;
}

.formWrapper form input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  font-weight: 300;
  background-color: transparent;
}

.formWrapper form input::placeholder {
  color: white;
  font-weight: 300;
}

.formWrapper form input:-ms-input-placeholder {
  color: white;
  font-weight: 300;
}

.formWrapper form button {
  font-weight: 300;
  position: relative;
  background-color: #566294;
  color: white;
  border: none;
  box-sizing: border-box;
  padding: 6px;
  margin-top: 25px;
  font-size: 20px;
}

.formWrapper form button:hover {
  font-weight: 300;
  cursor: pointer;
}

.error {
  background: tomato;
  text-align: center;
  margin-top: 10px;
  position: relative;
}

.toogleButton {
  margin-top: 16px;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.textarea {
  position: relative;
  margin-top: 20px;
  resize: none;
  outline: transparent;
}

.textarea:focus {
  resize: none;
}

form .addImage {
  display: flex;
  width: 100%;
}

form .addImage input,
form .addImage input:focus,
form .addImage input:hover,
form .addImage input:active {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  border: none;
  font-weight: 300;
  min-width: none;
  font-size: 20px;
}

form .addImage img {
  margin-top: 5px;
  position: relative;
  width: 35px;
  height: 35px;
  border: 2px solid #394653;
  border-radius: 50%;
}

form .uploadAvatar {
  border: none;
  position: relative;
  font-weight: 200;
  width: 50%;
  font-size: 20px;
  background-color: #7f859e;
  color: white;
  margin: 0;
  padding: 2px;
  border-radius: 2px;
  padding: 3px;
  margin-top: 10px;
}

form .uploadAvatar:hover {
  background-color: #616b93;
  color: white;
  cursor: pointer;
}
