.navMapSideWrapper {
  position: relative;
  height: 90vh;
  display: flex;
}
.mapWrapper {
  height: 90vh;
  width: 100%;
  filter: rotate(90deg);
}
.leaflet-container {
  height: 90vh;
}
.wrapper {
  display: flex;
}
