@use "../../App.scss";

.background {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

%field-styles {
  background: App.$input-background;
  margin: 10px 15px;
  border-radius: 8px;
  padding: 5px 0px 0px 10px;
}

.window {
  @extend %basic-container-styles;
  border: none;
  position: relative;
  bottom: 50px;
  width: 700px;
  height: 450px;
  background: App.$primary;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.9), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  display: grid;
  grid-template-areas:
    "author author author"
    "desc desc parti"
    "date time likes";
  &__author {
    @extend %field-styles;
    grid-area: author;
    height: 100px;
  }
  &__aboutme {
    margin-top: 5px;
    overflow: scroll;
    @extend %hidden-scrollbar;
  }
  &__categoryheader {
    margin-bottom: 15px;
  }
  &__category {
    @extend %field-styles;
    position: absolute;
    top: -5px;
    right: -10px;
    background: App.$primary;
    grid-area: cat;
    height: 30px;
    width: 160px;
  }
  &__description {
    @extend %field-styles;
    position: relative;
    grid-area: desc;
    height: 200px;
    overflow: scroll;
    @extend %hidden-scrollbar;
  }
  &__participants {
    @extend %field-styles;
    grid-area: parti;
    height: 200px;
    overflow: scroll;
    @extend %hidden-scrollbar;
  }
  &__list {
    margin-top: 8px;
    height: 80%;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar-track {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }
  &__date {
    @extend %field-styles;
    grid-area: date;
  }
  &__time {
    @extend %field-styles;
    grid-area: time;
  }
  &__likes {
    @extend %field-styles;
    grid-area: likes;
  }
  &__img {
    height: 13px;
  }
}

.exit {
  position: absolute;
  bottom: 3vw;
  background: rgb(65, 65, 65);
  border-radius: 10px;
  padding: 5px;
}

@media screen and (max-width: 375px) {
  .window {
    display: flex;
    flex-direction: column;
    height: 600px;
    margin: 0 5px;
    font-size: 14px;
  }
}
