@use "../../App.scss";
.missing {
  background-color: #394653;
  height: 100vh;
  @extend %center-childs;
  flex-direction: column;
  &__button {
    background-color: App.$button-dead;
    border: none;
    box-sizing: border-box;
    padding: 6px;
    margin-top: 25px;
    font-size: 20px;
    height: 40px;
  }
  &__msg {
    margin-top: 30px;
    text-align: center;
    font-size: 45px;
  }
  &__logo {
    font-weight: 500;
    letter-spacing: 4px;
    font-size: 35px;
    text-align: center;
    @extend %center-childs;
  }
  &__icon {
    margin-right: 10px;
  }
}
