@use "../HomePage/Home.module.scss";
@use "../../App.scss";
@use "../Sidebar/Sidebar.module.scss";

.navbar {
  background-color: App.$primary;
  height: Home.$navbar-height;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 6px 2px App.$primary;
  width: 100vw;
  @extend %hidden-scrollbar;
  &__switch {
    width: 30%;
    padding: 25px;
  }
  &__button {
    @extend %sidebar-elements-styles;
    margin-right: 10px;
    padding: 1vw;
    &:hover {
      background: App.$button-over;
      transition: background 0.5s;
    }
  }
  &__logo {
    font-weight: 500;
    letter-spacing: 3px;
    font-size: max(12px, 2vw);
    width: 30%;
    @extend %center-childs;
  }
  &__user {
    top: calc(Home.$navbar-height / 5);
    right: max(12vw);
    gap: 1vw;
    display: flex;
    justify-content: flex-end;
    width: 30%;
    font-size: clamp(12px, 3vw, 20px);
    @extend %center-childs;
  }
  &__avatar {
    border-radius: 50%;
    padding: 4px;
    background-color: App.$input-background;
    border: 0.5px solid white;
    height: min(calc(Home.$navbar-height - 10px), 10vw);
  }
  &__logout {
    align-self: center;
    margin-right: 10px;
    z-index: 1;
    &:hover {
      cursor: pointer;
    }
  }
}
