@use "../../App.scss";

%event-card-button {
  border-radius: 8px;
  background-color: transparent;
  border: 0.5px solid white;
  padding: 1px;
  margin: 1px;
  width: 50%;
}

.eventcard {
  @extend %basic-container-styles;
  margin: 10px 0;
  font-size: 16px;
  &__author {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__description {
    font-size: 12px;
  }
  &__details {
    font-size: 13px;
  }
  &__dateinfo {
    display: flex;
    justify-content: space-between;
    padding: 3px 20px;
    font-size: 14px;
    width: 100%;
    background: App.$input-background;
    border-radius: 8px;
    margin: 5px 0;
  }
  &__controls {
    display: flex;
    width: 101%;
  }
  &__button {
    @extend %event-card-button;
    &--join {
      @extend %event-card-button;
      width: 100%;
      background: App.$button-over;
      &:hover {
        transition: background 0.5s;
        background: App.$input-background;
      }
    }
    &--liked {
      @extend %event-card-button;
      background: palevioletred;
    }
    &:hover {
      transition: background 0.5s;
      background: App.$button-over;
    }
  }
  &__img {
    height: 16px;
    padding-right: 3px;
  }
}
