@use "../../App.scss";
@use "../HomePage/Home.module.scss";

@mixin sidebar-elements-styles {
  border-radius: 10px;
  padding: 5px;
  border: 0.5px solid white;
  background: App.$primary;
  margin: 2px 0;
}

.sidebar {
  position: absolute;
  margin-left: 5px;
  width: 350px;
  background-color: transparent;
  margin-top: Home.$navbar-height;
  max-height: calc(100vh - Home.$navbar-height - 20px);
  overflow: scroll;
  display: flex;
  flex-direction: column;
  .options {
    @include sidebar-elements-styles;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    &__button {
      @include sidebar-elements-styles;
      background: App.$input-background;
      &:hover {
        background: App.$primary;
      }
      &--add {
        @include sidebar-elements-styles;
        font-weight: 800;
        background-color: #1f6d2d;
      }
      &--active {
        @include sidebar-elements-styles;
        background: App.$button-over;
      }
    }
  }
  .events {
    &__view {
      @include sidebar-elements-styles;
      display: flex;
      flex-direction: column;
      background-color: App.$primary;
      text-align: center;
    }
    &__selectlabel {
      padding-top: 5px;
    }
    &__select {
      @include sidebar-elements-styles;
      outline: none;
      font-size: 14px;
      background-color: transparent;
      border: none;
      margin-left: 5px;
    }
  }
}
