.SidebarWrapper {
  position: absolute;
  z-index: -1;
  width: 22.5%;
  background-color: #0080b27a;
  /* background-color: rgba(0, 141, 199, 0.8); */
  color: white;
  box-sizing: border-box;
  height: 90vh;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow-y: scroll;
  padding: 15px;
  margin-top: 10vh;
}

.SidebarWrapper form {
  background-color: rgba(255, 255, 255, 0.241);
  width: 100%;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 8px;
  border-radius: 10px;
  margin: 5px -5px;
}

.SidebarWrapper form button {
  background-color: #4fa976;
  color: white;
  border: none;
}

.SidebarWrapper form input {
  position: relative;
  background-color: transparent;
  font-size: 20px;
  border: none;
  margin: 5px;
  box-sizing: border-box;
  padding: 6px;
  margin-top: 25px;
  background: rgb(194, 194, 194);
  border-radius: 20px;
  font-weight: 300;
}

.SidebarWrapper form input:focus {
  font-weight: 300;
  outline: none;
  border: none;
  background: rgb(194, 194, 194);
  border-radius: 20px;
  border-bottom: 2px solid white;
}

.SidebarWrapper form input::placeholder {
  font-weight: 300;
  background: rgb(194, 194, 194);
  border-radius: 20px;
}

.SidebarWrapper form button {
  font-weight: 300;
  width: 100%;
  position: relative;
  background-color: #006994;
  color: white;
  border: none;
  box-sizing: border-box;
  padding: 6px;
  margin-top: 25px;
  font-size: 20px;
  background-color: #4fa976;
}

.SidebarWrapper form button:hover {
  cursor: pointer;
}

.SidebarWrapper select {
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.SidebarWrapper textarea {
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}
