.SidebarWrapper {
  position: absolute;
  width: 22.5%;
  background-color: transparent;
  color: black;
  box-sizing: border-box;
  height: 86vh;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.options {
  background-color: #232c34;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 5px;
  margin-bottom: 0px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.9), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.options .user {
  font-weight: 300;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  color: white;
  display: none;
}

.options button,
.options button:hover {
  font-weight: 200;
  background-color: #232c34;
  color: white;
  border: white 1px solid;
  border-bottom: 0px;
  padding: 3px;
}

.options button:hover {
  font-weight: 200;
  background-color: rgb(197, 189, 237);
  color: black;
  border: #232c34 1px solid;
  border-bottom: 0px;
  padding: 3px;
}

.options button:last-child,
.options button:hover:last-child {
  border-bottom: white 1px solid;
}

.events {
  color: "#232c34";
  box-sizing: border-box;
  /* border: 4px solid #232c34; */
  border: none;
  margin-bottom: 5px;
  border-radius: 3px;
  flex-grow: 1;
  background-color: none;
  overflow-y: scroll;
  /* box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.9), 0 2px 4px 0 rgba(0, 0, 0, 0.12); */
}

.events::-webkit-scrollbar {
  display: none;
  width: 9px;
  border-radius: 0 0 3px 3px;
}

.events::-webkit-scrollbar-track {
  padding-top: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.events::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.filter {
  color: black;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 5px;
  color: white;
  background-color: #232c34;
  text-align: center;
  font-weight: 300;
}

.spanSelect select,
.spanSelect select:active,
.spanSelect select:focus,
.spanSelect select:hover,
.spanSelect select:active,
.spanSelect select:visited {
  outline: none;
  font-size: 14px;
  font-weight: 300;
  color: white;
  background-color: transparent;
  border: none;
  margin-left: 5px;
}

.spanSelect select option {
  color: white;
  background-color: #232c34;
}
