@use "../../App.scss";
@use "../HomePage/Home.module.scss";

.footer {
  display: flex;
  position: fixed;
  height: Home.$footer-height;
  width: 100vw;
  background-color: #232c34;
  z-index: 1;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.9), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  &__img {
    height: 25px;
    margin-right: 10px;
  }
  &__button {
    border-radius: 8px;
    display: flex;
    padding: 3px;
    margin: 3px;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    &:hover {
      transition: background 0.5s;
      background: App.$input-background;
    }
  }
}
